/*color scheme
	#92278F
	#D12D68
	#778A91
*/
@font-face {
    font-family: circular-pro-medium;
     font-display: auto;
    src: url("../Fonts/Circular Pro/CircularStd-Medium.otf") format("opentype");
}

@font-face {
    font-family: circular-pro-Bold;
     font-display: auto;
    src: url("../Fonts/Circular Pro/CircularStd-Bold.otf") format("opentype");
}
@font-face {
    font-family: proxima-nova-black;
     font-display: auto;
    src: url("../Fonts/Proxima Nova/Mark Simonson - Proxima Nova Regular.otf") format("opentype");
}
html{
	font-family: 'circular-pro-medium' !important;
}
body{
	display: block;
	margin: 0;
	padding: 0;
	color: #85969c;
	background-color:#F2F3F2;
	font-family: 'circular-pro-medium' !important;

}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a:hover, a:focus{
	text-decoration: none !important;
	outline: none !important;
}
.logo a img{
	width: 200px;
	
	height: 80px;
}
nav.navigation ul li{
	list-style: none;
    display: inline-block;
    margin: 22px auto;
    padding: 12px;
    float: left;
    font-size: 16px;
    font-weight: 500;
}
nav.navigation{
	margin: 0 auto;
    display: block;
    position: relative;
    width: 80%;
    overflow: hidden;
}
nav.navigation ul li a{
	color: #3c5158;
    font-family: "circular-pro-Bold";
	}
nav.navigation ul li a:hover, nav.navigation ul li a.active{
	text-decoration: none;
	color: #000;
	}
	#dropdown{
	display: none;
		position: absolute !important;
   	z-index: 3;
    border-radius: 2px;
    box-shadow: 0px 2px 1px 0px rgb(132, 149, 155);
}
.identity-active{
	display: block !important;
}
.identity-forms{
	
	padding: 10px;
	
	margin: 5px;
    position: absolute;
  
    opacity: 15;
    z-index: 10;
    display: none;
        margin-left: 60px;
}
.identity-forms .signup:before {
    left: 50px;
}
.identity-forms .login:before {
    right: -245px;
}
.menu-hover:after{
	content: " ";
    width: 0;
    border-style: solid;
    border-width: 5px;
    border-color: #3c5158 transparent transparent;
    
    float: right;
    margin: 8px;
    cursor: pointer;
}#dropdown a{
	display: block;
    padding: 10px;
    background: #fff;
    z-index: 10000000;
    border-bottom: 1px solid #eee;

}
.trial a{
	background-color: #59356e;
    color: #fff !important;
    padding: 20px;
    border-radius: 4px;
}
.landing-section{
	min-height: 600px;
	margin: 50px auto 0;
    color: #000;
    text-align: center;
    border-radius: 4px;

  
}
.landing-section h2{
	font-size: 38px;
	color: #580b77;
}
.block{
	display: block;
}
.Title{color: #778a91;
    position: absolute;
    margin: -15px auto 0 30px;
    display: block;
    width: 150px;

}
.landing-section .left-side button{
	background-color: #778A91;

color: #ffffff;

padding: 15px;

border-radius: 3px;

width: 400px;

display: block;

margin: 0 auto;
}
.landing-section .left-side{
	margin: -60px auto;
}
.menu-border{
	box-shadow: -7px -12px 12px 20px #778a91;
}



.form-triggers{
	position: relative;
    float: right;
    width: 50%;
    min-width: 400px;
}
.form-triggers li a{
	color: #000;
}
.form-triggers li{
	margin: 22px 60px !important;
}
.form-triggers li.active{
 color: #000;
}
.carousel-header{
	text-align: right;
text-decoration: underline;

color: #000;
}
.form-triggers li.active a, .form-triggers li.active a:hover{
		color: #542e63;
		 
}
.code-sample{
	
	width: 80%;
	border-radius: 4px;
	margin:  auto;
	padding: 45px;
	color: #030021;
}
.services{
	display: block;
	position: relative;
	overflow: hidden;
}
.services li{
	text-align: center;
	list-style: none;
	float: left;
	width: 50%;
	
	margin-top: 20px;


}
.owl-carousel{
	padding: 20px;
}
.top-li{
	border-bottom: 1px solid #eee;
}
.services li div{
	width: 50px;
	width: 90px;
	height: 90px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}
.info-top, .info-bottom{
    padding: 20px;

}
.owl-carousel div{
	width: 100%; 
}
.info h6{
	color: #778a91;
    border-bottom: 1px solid #778A91;
    line-height: 29px;
    margin-top: -25px;
}
.info p{
	color: #000;
}
.product{
	margin: 0px auto 70px;
	min-height: 360px;
	padding: 20px;
	border: 1px solid rgb(3, 0, 33);
	border-radius: 8px;
	
}

.product h4{
	text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 0.1px;
    margin: 30px auto; 
}
.product i{
	display: block;text-align: center;
	color:  #5f3b5e;
	
    font-size: 35px;
}
.product div{

}
.left{
	float: left;
	position: relative;
    left: 85px;
    margin-top: -50px !important;
}
.right-nav{
	

}
.right{
	float: right;
	position: relative;
    right: 85px;
    margin-top: -50px !important;
}
.clients{
	text-align: center;
}
.wording{
	margin: 0 auto;
    
    padding: 20px;
    
   
    min-height: 140px;
    text-align: center;
    
}
.wording p{
	color: #000000;
}
.wow{
	visibility: hidden;
}
.info div{
	    margin: 0 auto;
    
    display: inline-block;
   
    text-align: center;
   
}
.info .flexible, .info .extensible{
	 animation: fadeInLeft 1.25s cubic-bezier(0.4, 0, 1, 1) 0.5s 1 forwards;
	 font-size: 50px;
	 color: #922785;
}
.info .Scalable, .info .cloud{
	animation: fadeInRight 1.25s cubic-bezier(0.4, 0, 0.1, 1) 0.5s 1 forwards;
	 font-size: 50px;
	 color: #922785;
	 visibility: visible;	
}

.circle {
    border: 2px dotted #31132e;
    border-radius: 50%;
    content: "";
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
   
}
.limit-info{
	margin: 100px auto;
	animation-delay: 12s;
	-webkit-animation:  25s infinite linear;

}

.pitch{
	color: #000;
	text-align: center;
	padding: 0 35px;
	font-size: 16px;
}
.purple-shade{
	
	
}
.border-signup{
	transition: .1s;
left: 260px !important;
}
.shade{
	background-color: #d7ded7;
	
}

.flexible{
	background-image: url("../img/images/web icons/webicon-09.png"); 
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
    height: 100px;
    visibility: visible;

	
}
.map img{
	
    height: 500px;
	width: 90%;
	max-width: 870px;
	margin: 0 auto;
	display: block;

}
.map h4{
	text-align: center;
    color: #040a21;
}
@media only screen and (max-width: 1600px) {
	.map{
		background-size: contain;
	}
}
.subscribe-form{
	padding: 30px;
	
}
.subscribe-form input{
	color: #000;
	padding: 20px; 
}
button.subscribe{
	border: none;
    background-color: transparent;
    padding: 13px;
    border-radius: 5px;
    width: 100%;
}
.cloud{
	background-image: url("../img/images/web icons/webicon-08.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
}
.dot{
	background-image: url(../img/images/marker.png);
    width: 25px;
    height: 25px;
    z-index: 33;
    position: absolute;
    border-radius: 14px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}/*
.Ethiopia{
	right: 770px;
    top: 320px;
}
.Kenya{
	right: 785px;
    top: 330px;
}
.Nigeria{
	right: 1150px;
    top: 380px;
}
.SouthAfrica{
	right: 230px;
    margin: 0 auto;
}
.Tunisia{
	left: 250px;
    margin: 0 auto;
}*/
.Scalable{
	background-image: url("../img/images/web icons/web icon-03.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	visibility: visible;
	animation-name: rotateA;
}
.extensible{
	background-image: url("../img/images/web icons/web icon-05.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	visibility: visible;
}
.login, .signup{
	width: 400px;
    margin: 0 auto;
    border: 1px solid #542e63;
    padding: 0 30px;
    border-radius: 2px;
    background: #542e63;
    backface-visibility: hidden;
    height: 400px;
    visibility: visible;

 
	
}
.login p, .signup p{
	color: #fff;
}
.login a, .signup a{
	color: grey;
}
.btn:hover{
	color: #fff;
}
.login:before, .signup:before{
content: " ";
    width: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #542e63 transparent;
    position: relative;
    top: -26px;
    right: 0;
}
.login:before{
	 right: -80px;
}
.signup:before{
	
    left: -115px;
    
}
.border-active{
	border-bottom:1px solid #542e63;
    bottom: -63px;
    position: relative;
    width: 60px;
    left: 70px;
    transition: 1s;
    display: none;
}
.identity-active .border-active{
	display: block;
}
.signup{
	display: block;
	
	margin: 0px auto;
}
.login-active .signup{
	display: none; !important;
	
}
.login{
	margin-top: 0 !important;
	display: none;
	
}
.login-active .login{
	display: block;

}

.login input, .signup input{
	
	
	margin: 20px auto;
	height: 45px;
}
.login input.submit, .signup input.submit{
	background-color: #778A91;
    border-color: #84969c;
    width: 100%;
    margin: 20px auto;
    display: block;
    color: #fff;


}
.identity-forms {}
.login form{
	margin-top: 30px;
}
.pricing{
	width: 80%;
	margin: 30px auto;
	border:1px solid #030021;
	padding: 20px;
	border-radius: 4px;
}
.pricing h3{
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
}

.page-tab{
	min-height: 500px !important;
}
.right-side{
	
	color: #778a91;
}
.right-side h2{

    font-weight: 900;
    font-family: inherit;
    color:rgb(105, 40, 103);
    font-size: 34px;
    

}
.alternative{
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}
.alternative ul li{
	display: inline-block;
	border-right: 1px solid #000;
	margin-right: 5px;
	padding-right: 5px; 
	color: #000;

}
.login form h2, .signup form h2{
	text-align: center;
	margin: 5px auto;
	color: #fff;
}

.clompute h2{
	color: #663ab6;
font-size: 20px;
text-align: center;
margin: 160px auto 40px;
text-transform: uppercase;
font-weight: 600;
}
.clompute ul li{
	list-style: none;
	text-align: center;
	font-size: 18px;
	color: #040a21;
}
 .clompute img{
 	width: 100px;
    margin: 0 auto;
    display: block;
 }
.cloudcompute img{
	width: 300px;
margin: 5px auto -180px auto;
    background-color: #fff;

}
.wifi{
	position: absolute;
left: 167px;
margin: 10px !important;
width: 85px !important;
}
/*.cloudcompute{
	margin: -30px auto -80px auto;
}*/
.channels{
	
}
.channels img{
	width: 60%;
	width: 25px;
	margin: 10px auto;
}
.channels li{
	list-style: none;
}
.linkedin img{
	width: 30px !important;
}
.descr{
	padding-top: 50px;
}
.descr h4{
	
	text-transform: uppercase;
}
.descr p{
	text-align: left;
}
.copyright p{
	text-align: left;
	padding-left: 50px;
}
.copyright img
{
	width: 20px;
	height: 20px !important;
}
.quick li{
	color: #fff;
    list-style: none;
    
}
@-webkit-keyframes rotation {
		0% {

				-webkit-transform: rotate(0deg);
		}
		20%{
			
				-webkit-transform: rotate(90deg);
		}
		30%{
			
				-webkit-transform: rotate(90deg);
		}
		40%{
				-webkit-transform: rotate(180deg);
		}
		50%{
				-webkit-transform: rotate(180deg);
		}
		60%{
			-webkit-transform: rotate(270deg);
		}
		70%{
			-webkit-transform: rotate(270deg);
		}

		80%{
			-webkit-transform: rotate(360deg);
		}

		90%{
			-webkit-transform: rotate(360deg);
		}

		100%{
			-webkit-transform: rotate(360deg);
		}
}
@-webkit-keyframes rotateA {
		0% {

				-webkit-transform: rotate(0deg);
		}
		20%{
			
				-webkit-transform: rotate(90deg);
		}
		30%{
			
				-webkit-transform: rotate(90deg);
		}
		40%{
				-webkit-transform: rotate(180deg);
		}
		50%{
				-webkit-transform: rotate(180deg);
		}
		60%{
			-webkit-transform: rotate(270deg);
		}
		70%{
			-webkit-transform: rotate(270deg);
		}

		80%{
			-webkit-transform: rotate(360deg);
		}

		90%{
			-webkit-transform: rotate(360deg);
		}

		100%{
			-webkit-transform: rotate(360deg);
		}
}


.globe{
	/*-webkit-animation: rotation 5s infinite linear;*/
	width: 70px;
	height: 70px;
}
footer{
	background-color: #000;
	color: #fff;
	bottom: 0;
	
}
footer .logo img{
	height: 200px;
}
