/*color scheme
	#92278F
	#D12D68
	#778A91
*/
@font-face {
    font-family: circular-pro-medium;
     font-display: auto;
     

    src: url("../Fonts/Circular Pro/CircularStd-Medium.otf") format("opentype");
}
@font-face {
    font-family: circular-medium;
     font-display: auto;
    src: url("../Fonts/Circular Pro/circular-medium.otf") format("opentype");
}
@font-face {
    font-family: circular-std-Book;
     font-display: auto;
    src: url("../Fonts/Circular Pro/CircularStd-Book.otf") format("opentype");
}
@font-face {
    font-family: circular-pro-Bold;
     font-display: auto;
    src: url("../Fonts/Circular Pro/CircularStd-Bold.otf") format("opentype");
}
@font-face {
    font-family: proxima-nova-black;
     font-display: auto;
    src: url("../Fonts/Proxima Nova/Mark Simonson - Proxima Nova Regular.otf") format("opentype");
}
@font-face {
    font-family:  circular-book;
     font-display: auto;
    src: url("../Fonts/Circular Pro/circular-book.otf") format("opentype");
}
html{
	font-family: 'circular-pro-medium' !important;
}
body{
	display: block;
	margin: 0;
	padding: 0;
	color: #85969c;
	background-color:#F2F3F2;
	font-family: 'circular-book' !important;
	overflow-x: hidden;

}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p{
	font-size: 20px;
	font-family: ;
}
a:hover, a:focus{
	text-decoration: none !important;
	outline: none !important;
}
.logo a img{
	width: 200px;
	margin-left: -45px;
	height: 80px;
}
nav.navigation ul li{
	list-style: none;
    display: inline-block;
    padding: 30px;
    float: left;
    font-size: 16px;
    font-weight: 500;
}
nav.navigation{
	margin: 0 auto;
    
    position: relative;
    float: right;
    overflow: hidden;
}
nav.navigation ul li a{
	color: #3c5158;
    text-transform: capitalize;
    font-family: "circular-pro-Bold";
    font-size: 15px;
   
	}
nav.navigation ul li a:hover, nav.navigation ul li a.active{
	text-decoration: none;
	color: #000;
	}
	#dropdown{
	display: none;
		position: absolute !important;
   	z-index: 3;
    border-radius: 2px;
   border: 1px solid #eee;
}
.easy-deploy{
	color: #fff;
	text-align: left;
}
.menu-border{
	backface-visibility: hidden;
	transition-duration: 1s;
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 15;
	/*box-shadow: 0 2px 5px 0 rgba(50,50,50,.3);*/
}
.menu-scroll{
	position: fixed;
 	transition-duration: 1s;   
    backface-visibility: hidden;
    padding-right: 15px;capitalize
    padding-left: 15px;

    background-image: linear-gradient( 135deg, hsl(302, 58%, 36%) 0%, rgb(191, 60, 98) 100%);

    width: 100%;
    z-index: 10;
}
.menu-scroll .Title{
	color: #fff;
    position: absolute;
    margin: -8px auto 0 15px;
    display: block;
    width: 150px;
}
.menu-scroll a{
	color: #fff !important;
}
.menu-scroll .menu-hover:after{
	
}
.identity-active{
	display: block !important;
}
.identity-forms{
	
	padding: 10px;
    margin: 15px;
    position: fixed;
    opacity: 15;
    z-index: 10;
    display: none;
    margin-left: 60px;
}
.identity-forms .signup:before {
    
}
.identity-forms .login:before {
    right: -245px;
}
.menu-hover:after{
	content: " ";
    width: 0;15px
    border-style: solid;
    border-width: 5px;
    border-color: #3c5158 transparent transparent;
    
    float: right;
    margin: 8px;
    cursor: pointer;
}#dropdown a{
	display: block;
    padding: 10px;
    background: #fff;
    z-index: 10000000;
    border-bottom: 1px solid #eee;

}
.trial a{
	background-color: #59356e;
    color: #fff !important;
    padding: 20px;
    border-radius: 4px;
}
.heading{
	text-align: center;
}
.landing-section{
	
	
    color: #000;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
  
}
.landing-section .buttons{
	float: left;
}
.landing-section h2{

	font-size: 30px;
	color: #fff;
	
		min-width: 200px;
	text-align: left;


}
.block{
	display: block;
}
.Title{color: #778a91;
    position: absolute;
    margin: -15px auto 0 30px;
    display: block;
    width: 150px;

}
.landing-section .left-side button{
	background-color: #778A91;

color: #ffffff;

padding: 15px;

border-radius: 3px;

width: 400px;

display: block;

margin: 0 auto;
}
.landing-section .left-side{
	margin: -60px auto;
}

.menu-scroll .logo a img{
						width: 120px;
					    height: 50px;
					    margin: 17px auto 0 25px;
						}


.form-triggers{
	position: relative;
    float: right;
    min-width: 200px;
}
.form-triggers li a{
	color: #000;
}

.form-triggers li.active{
 color: #000;
}

.carousel-header{
	text-align: right;
text-decoration: underline;

color: #000;
}
.form-triggers li.active a, .form-triggers li.active a:hover{
		color: #542e63;
		 
}
.code-sample{
	
	width: 80%;
	border-radius: 4px;
	margin:  auto;
	padding: 45px;
	color: #030021;
}
.services{
	display: block;
	position: relative;
	overflow: hidden;
	margin: 35px auto;
	text-align: center;
}
.services li{
	text-align: center;
	list-style: none;
	float: left;
	width: 50%;
	
	margin-top: 20px;


}
.progress{
	    width: 50px;
	    display: inherit;
	    display: inline-block;
	    margin: 0 !important;
}
div[class^='story'], div[class*=' story']{
    color: #86979d;
    border: 1px solid #86979d;
    width: 100px;
    display: inline-block;
    height: 100px;
    border-radius: 50%;
    padding-top: 40px;
}
.user-story{
	margin: 25px auto;
}
.story-active{
	color: #000 !important;
    border-color: #000 !important;
}
.owl-carousel{
	padding: 20px;
}
.top-li{
	border-bottom: 1px solid #eee;
}
.services li div{
	width: 50px;
	width: 90px;
	height: 90px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}
.top-nav{
	
}
.info-top, .info-bottom{
  

}
.owl-carousel div{
	width: 100%; 
}
.info{
	width: 200px;
border: 1px solid rgba(18, 25, 27, 0.078);
display: inline-block;
padding: 2px;
background-color: rgba(18, 25, 27, 0.078);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}
.info-active div{
	display: block !important;
}
.info-active{
	display: block !important;
}
.info.active, .info:hover{
	background-color: rgba(18, 25, 27, 0.078);
	cursor: pointer;
}
.boxed-white{
	min-height: 500px;
	width: 100%;
	
}
.info h6{
	font-size: 20px;
	color: #778a91;
	text-align: center;
}
.info.active h6{
	color: #982a87;
}
.info.active{
	background-color: #fff;
	
	border-bottom: none;
	height: 50px;
	z-index: 30;
}
.info p{
	color: #000;
}
.product{
	
	min-height: 360px;
	padding: 20px;
	background-color: rgba(129, 150, 154, 0.17);
	margin: 10px auto;

	
}
.section-bg div{
	
	margin-bottom: 40px;
	padding: 30px;
	
	transform: scale(1);
	transition-duration: 0.4s;
	min-height: 350px;
	border-radius: 20px;
	box-shadow:1px -3px 7px 2px rgba(56, 10, 49, 0.19);
	background-color: #fff;
}
.pitch-spin{
	text-align: center;
    color: #994588;
    margin: 0 auto 56px;
    font-size: 15px;
}

.section-bg div:hover{
	
	transform: scale(1.02, 1.02);
}

#products p{
	font-size: 15px;
}
#products .heading{
	margin: 50px auto;
	text-transform: uppercase;
	line-height: 40px;
	font-size: 36px;
	
}
#products{
	margin-top: 100px;
}	
#products i{
	font-size: 41px;
	text-align: center;
	margin: 25px auto;
	display: block;
	color: #5a1c5a;
}
.prod-icon:before{
	content: "\e853";
}
#products header h3{
	font-family: 'circular-pro-medium' !important;
	text-align: center;
	color: #ca0ea9;
}
.purple-shade{
	position: relative;
	background-image: -moz-linear-gradient( 135deg, hsl(302, 58%, 36%) 0%, rgb(191, 60, 98) 100%);
	background-image: -webkit-linear-gradient( 135deg, hsl(302, 58%, 36%) 0%, rgb(191, 60, 98) 100%);
	background-image: -ms-linear-gradient( 135deg, hsl(302, 58%, 36%) 0%, rgb(191, 60, 98) 100%);
	background-image: linear-gradient( 135deg, hsl(302, 58%, 36%) 0%, rgb(191, 60, 98) 100%);
    background-size: cover;
 	background-attachment: fixed;
 	min-height: 300px;
 	text-align: center;
}
.purple-shade .buttons button{
	background-color: #fff;
border: none;
padding: 12px;
border-radius: 3px;


}
.purple-shade .buttons{
	margin: 30px auto;
	display: block;
width: 10%;
min-width: 250px;
}
.purple-shade h2{
	margin: 60px auto 20px;
	color: white;
}
.purple-shade p{
	color: #ffb8f6;
	width: 60%;
	margin: 0 auto;
}
.product h4{
	text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.1px;
    margin: 15px auto;
}
.product i{
	display: block;text-align: center;
	color:  #5f3b5e;
	
    font-size: 35px;
}
.product div{

}
.left{
	float: left;
	position: relative;
    left: 85px;
    margin-top: -50px !important;
}
.right-nav{
	width: 254px;
    margin: 0 auto;

}
.right{
	float: right !important;
	
}
.clients{
	text-align: center;
}
.wording{
	margin: 0 auto;
    
    padding: 20px;
    
   
    min-height: 140px;
    text-align: center;
    
}
.border-delay{
	border-bottom: 2px solid purple;
    width: 25%;
    display: inline-block;
    opacity: 0.7;
   
    top: -40px;
    position: relative;
}
.wording p{
	color: #fff;
}
.wow{
	visibility: hidden;
	opacity: 0.3;
	
}
.vis{
	visibility: none;
}
.info div{
	    margin: 0 auto;
    
    display: inline-block;
   
    text-align: center;
   
}
.info .flexible, .info .extensible{
	 animation: fadeIn 1.25s cubic-bezier(0.4, 0, 1, 1) 0.5s 1 forwards;
	 font-size: 50px;
	 color: #922785;
}
.Scalable,  .cloud{
	animation: fadeIn 1.25s cubic-bezier(0.4, 0, 0.1, 1) 0.5s 1 forwards;
	 font-size: 50px;
	 color: #922785;
	 visibility: visible;	
}
.inline, .next{
	display: inline-block;
	width: 30%;
}
.circle p{
	position: absolute;
}
.next{
	width: 15%;
    height: 15px;
    background-color: grey;
    vertical-align: middle;
    display: inline-flex;
    margin-top: -200px;
    border-radius: 20px;
	
}
.simple{
	margin: 0 auto;

display: block;

overflow: hidden;

width: 75%;
}
.simplicity{
	   display: inline-block;
	   text-align: center;
    margin-bottom: 50px;
   width: 150px;
   
    height: 150px;
  

}
.simplicity p{
	font-size: 14px;
}
.simplicity img{
	width: 100px;
}
.button.green {
    background: #3BB662;
}

.os_images li.active{
	display: block;
}
.os_images li {
	display: inline-block;
}
.simplicity img{
	width: 65px;
	height: 80px;
margin-top: 10px;
display: inline-block;
}
.simplicity img:hover{
	opacity: 1;
}
ul li{
	list-style: none;
}
.configure li {
	position: absolute;
	display: none;
	
}
.circle {
    border: 2px solid #31132e;
    border-radius: 50%;
    content: "";
    width: 20%;
    height: 100px;
    display: inline-block;
    margin: 0 auto;
   
}
.limit-info{
	width: 55%;
	margin:30px auto;
	animation-delay: 12s;
	-webkit-animation:  25s infinite linear;
	
}
.vertical-sep{
	border-bottom: 1px solid #982a87;
	margin-top: -31px;
}
.target-info div{
	display: none;

}
.target-info{
	width: 80%;
	margin: 0 auto;
}
.target-info p{
	font-family: 'circular-std-Book';
    font-size: 18px;
   	height: 185px;
    }

.line{
	border-top: 1px solid grey;
	width: 5px;
	margin-bottom: 3px;

}
.target-info h5{
	color: #000;
}
.text-normal{
	font-size: 18px;
}
.pitch{
	color: #e478d7 !important;
	text-align: left;
	margin: 40px auto 15px;



	
}
.purple-shade:before{
	/*background: linear-gradient(217deg, 
		rgb(125, 32, 123),  rgba(83, 61, 97, 0.85) 70.71%), 
		linear-gradient(127deg,   rgba(36, 18, 47, 0.97), 
		rgba(0, 255, 0, 0.24) 70.71%),  linear-gradient(336deg, 
		rgb(17, 17, 53), rgba(0,0,255,0) 70.71%);*/
	padding: 40px;
	position: absolute;
	width: 100%;
	top: 0;
	content: '';
	bottom: 0;
	left: 0;
	right: 0;
	display: block;

	
}
.border-signup{
	transition: .1s;
left: 65px !important;
}
.shade{
	background-color: #d7ded7;
	
}

.flexible{
	background-image: url("../img/images/web icons/webicon-09.png"); 
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
    height: 100px;
    visibility: visible;

	
}
.map img{
	
    height: 500px;
	width: 90%;
	max-width: 870px;
	margin: 0 auto;
	display: block;

}
.map h4{
	text-align: center;
    color: #040a21;
}
@media only screen and (max-width: 1600px) {
	.map{
		background-size: contain;
	}
}
@media only screen and (max-width: 990px) {
	.navigation{
		display: none;
		
    right: 0;
    background: #fff;
    height: 33vh;
    width: 100%;
    min-height: 300px !important;
	}
	.target-info {
    width: 100%;
	}
	.limit-info{
		width: 28%;
	}
	.menu-trigger{
		display: block !important;
	}
	.navigation ul li{
		display: block !important;
		padding: 10px !important;
		clear: both;
		margin-left: 42px !important;
		float: none !important;
	}
	.right,.form-triggers {
		float: none !important;
		text-align: center;
	}
	#signup{
		width: 200px !important;
		margin: 0 auto;
	}
	.purple-theme {
		height: none !important;
		max-height: none !important;
	}
}
.triggered{
	display: block;

}
.subscribe-form{
	padding: 30px;
	
}
.subscribe-form input{
	color: #000;
	padding: 20px; 
}
button.subscribe{
	border: none;
    background-color: transparent;
    padding: 13px;
    border-radius: 5px;
    width: 100%;
}
.cloud{
	background-image: url("../img/layers-256.png");
	background-size: 61%;
    background-repeat: no-repeat;
    width: 115px;
    height: 100px;
    background-position: center;
}
.dot{
	background-image: url(../img/images/marker.png);
    width: 25px;
    height: 25px;
    z-index: 33;
    position: absolute;
    border-radius: 14px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}
.Scalable{
	background-image: url("../img/images/feather.png");
	background-size: 90%;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	visibility: visible;
	
}

#features{
	
	margin: 50px auto;
}
.attention{
	    margin: 0 auto;
    width: 555px;
}
#features p{
	text-align: center;
	color: #777;
	margin: 10px auto;
	max-width: 650px;
	
} 
#features h1{
	text-align: center;
	margin: 50px auto;
}
.extensible{
	background-image: url("../img/images/reliable.png");
	background-size: 75%;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	visibility: visible;
}
.Reliable-uptime, .block-storage{
	width: 80%;
	margin: 0 auto;
}
.rise{
	margin:50px auto 75px;

	transition-duration: 3s;
}
hr.hr{
	    border-bottom: 1px solid #f8e3f0;
	width: 40%;
}
.hr{
	border-bottom: 1px solid white;
    width: 200px;
    margin: 0 auto;
}
.purple-theme{
	
	overflow: hidden;
	
	display : flex;
  	align-items : center;
	height: 91vh;
	margin-top: 94px;
	max-height: 680px;
    
}
#home{
	background-image: linear-gradient( 135deg, hsl(302, 58%, 36%) 0%, rgb(191, 60, 98) 100%);
}
.login, .signup{
	width: 400px;
    margin: 0 auto;
    border: 1px solid #fff;
    padding: 30px;
    border-radius: 2px;
    background: #fff;
    backface-visibility: hidden;
   display: block;
   opacity: 1;
    visibility: visible;

 
	
}
.centered{

		
	max-width: 800px;
	font-family: circular-medium;

}
.purple-shade a, .centered button, .centered a{
	background-color: transparent;
    border: 1px solid #fff;
    padding: 9px;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    margin-right: 30px;
    width: 95px;
}
.purple-shade a:hover, .purple-shade a:focus, .centered a:hover, .centered a:focus{
	color: #fff;
}
.menu-scroll #signup{
	border-color: #fff;
}
.menu-trigger{
	height: 40px;
    width: 50px;
    float: right;
  	cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    display: none;
}
.menu-trigger ul li{
	display: block !important;
    width: 50px;
    height: 5px;
    background-color: purple;
    padding: none;
    padding: 0 !important;
    margin-bottom: 5px;
}
#signup a{
	color: #9d3864;
}
.login p, .signup p{
	color: #fff;
}
.login a, .signup a{
	color: grey;
}
.btn:hover{
	color: #fff !important;
}
.login:before, .signup:before{
content: " ";
    width: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #fff transparent;
    position: relative;
    top: -57px;
    right: 0;
}
.signup:before{
	 right: -240px !important;
}
.login:before{
	
    left: 50px;
    
}
.border-active{
	border-bottom:1px solid #542e63;
    bottom: -63px;
    position: relative;
    width: 60px;
    left: 255px;
    transition: 1s;
    display: none;
}



.active .border-active{
    display:block;
}
#signup{
	border: 1px solid #a60a60;
    border-radius: 4px;
    width: 98px;
    text-align: center;
    color: #a60a60;
    padding: 8px;
    margin: 22px auto 0;
    border-radius: 20px;
}
#signup a{
	color: #a60a60;
}
form#signupform label{
	color: red;
}
.signup{
	display: block;
	
	margin: 25px auto;
}
.login-active .signup{#122661
	display: none !important;
	
}
.login{
	margin-top: 0 !important;
	display: none;
	
}
.login-active .login{
	display: block;

}

.login input, .signup input{
	
	
	margin: 20px auto;
	height: 45px;
}
.login input.submit, .signup input.submit{
	background-color: #778A91;
    border-color: #84969c;
    width: 100%;
    margin: 20px auto;
    display: block;
    color: #fff;


}
.identity-forms {

}
.identity-scroll {
    margin: 10px;
    margin-left: 60px;
    
}
.identity-scroll .signup{
	border: 1px solid #542e63;
	margin-top: 15px;
}
.login form{
	margin-top: 30px;
	
}
#pricing{
	
	margin: 30px auto;
	padding: 20px;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: rgba(219, 201, 219, 0.2) !important;
}
.thead-dark{
	background-color: rgba(153, 153, 153, 0.58) !important;
}
.submit-btn{
	background-color: #5f285f;
    color: #fff;
    margin: 20px auto;
    display: block;
    width: 60%;
    padding: 12px;
    display: block !important;
}
#pricing h3{
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
}
.contact{
	width: 100%;
	margin: 0 auto;
}
#contact{
	padding-bottom: 90px;
}
#contact h1{
	display: block;
color: purple;
text-transform: uppercase;
font-weight: 700;
font-size: 30px;
text-align: left;
}

.contact-header{
	text-align: center !important;
margin: 80px auto;
    margin-top: 20px;
    margin-left: auto;
padding: 75px 0 3px;
color: #000;
color: #000 !important;
font-size: 38px !important;
}
.right-line{
	border-right: 1px solid #0c0c0e;
	height: 285px;

	position: absolute;
	display: block;
	right: 0;
	top: 0;
}
.form-group{
	margin: 30px 0;
}
.contact .form-group input:first-child{
	margin-bottom: 30px;
}
.page-tab{
	min-height: 500px !important;
}
.right-side{
	
	color: #778a91;
}
#flashing-text li{
	display: none;
	text-align: center;
	font-size: 20px;
    color: #6c148e;
    list-style: none;
    position: absolute;
}
#flashing-text{
	display: inline;
    float: left;
    margin: 25px;
    margin-left: 8px;
}
#flashing-text li.active{
	display: block;
}
.right-forms{
	position: absolute;
    right: 145px;
    min-width: 350px;
    top: 60px;
}
.right-side h2{

    font-weight: 900;
    font-family: inherit;
    color:rgb(105, 40, 103);
    font-size: 34px;
    

}
.alternative{
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}
.alternative ul li{
	display: inline-block;
	border-right: 1px solid #000;
	margin-right: 5px;
	padding-right: 5px; 
	color: #000;

}
.login form h2, .signup form h2{
	text-align: center;
	margin: 5px auto;
	color: #fff;
}

.clompute h2{
	
font-size: 20px;
text-align: left;

text-transform: uppercase;

}
.clompute p{
	font-size: 14px;
	text-align: left !important;
}
.reduce{
	width: 66%;
    margin: 0 auto !important;
    display: block;
    position: relative;
    
}
.clompute ul li{
	list-style: disc;
	text-align: left;
    font-size: 14px;
	color: rgba(4, 10, 33, 0.72);
}
 .clompute img,  .clompute i{
 	
	width: 40px;
	float: left;
    margin-right: 30px;
    font-size: 20px;
}
.cloudcompute img{
	width: 300px;
margin: 5px auto -180px auto;
    background-color: #fff;

}
.wifi{
	position: absolute;
left: 167px;
margin: 10px !important;
width: 85px !important;
}
.separator:before{
	
    border-left: 1px solid #9477b438;
    position: absolute;
    width: 1px;
    height: 104%;
    margin: -10px;
    margin-top: 8px;

}
.bck-shade {
	background-color: #faf6fb;
}
.clompute{
	transform: scale(1);
    background-color: #fff;
   
    transition-duration: 1s;
    
}
.clompute:hover{
	transform: scale(1.1);
	
}
.clompute ul{
	    padding-left: 20px;

}

.duara-cloud{
	background-image: url('../img/duaracloud.png');
	    height: 303px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.channels img{
	width: 60%;
	width: 25px;
	margin: 10px auto;
}
.channels li{
	list-style: none;
	text-align: left;
	margin: 45px auto 0 120px;
}
.channels p {
	font-size: 15px;
}
.linkedin img{
	width: 40px !important;
}
.descr{
	padding-top: 50px;
}
.descr h4{
	
	text-transform: uppercase;
}
.descr p{
	text-align: left;
}
.copyright p{
	text-align: left;
	padding-left: 50px;
}
.copyright img
{
	width: 20px;
	height: 20px !important;
}
.quick li{
	color: #fff;
    list-style: none;
    
}
@-webkit-keyframes rotation {
		0% {

				-webkit-transform: rotate(0deg);
		}

		100%{
			-webkit-transform: rotate(360deg);
		}
}
@-webkit-keyframes rotateA {
		0% {

				-webkit-transform: rotate(0deg);
		}
		20%{
			
				-webkit-transform: rotate(90deg);
		}
		30%{
			
				-webkit-transform: rotate(90deg);
		}
		40%{
				-webkit-transform: rotate(180deg);
		}
		50%{
				-webkit-transform: rotate(180deg);
		}
		60%{
			-webkit-transform: rotate(270deg);
		}
		70%{
			-webkit-transform: rotate(270deg);
		}

		80%{
			-webkit-transform: rotate(360deg);
		}

		90%{
			-webkit-transform: rotate(360deg);
		}

		100%{
			-webkit-transform: rotate(360deg);
		}
}


.globe{
	/*-webkit-animation: rotation 5s infinite linear;*/
	width: 70px;
	height: 70px;
}



/*Animated console window styles
*/


.terminal-window {
  text-align: left;
    width: 300px;
    height: 190px;
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    box-shadow: 0 2px 4px rgba(3,27,78,.1);
}
.terminal-window ul {
	width: 85%;
    margin: 50px auto;
}
.terminal-window header {
  background: #E0E8F0;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
}

.terminal-window header .button {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.terminal-window header .button.green {
  background: #3BB662;
}

.terminal-window header .button.yellow {
  background: #E5C30F;
}

.terminal-window header .button.red {
  background: #E75448;
}

.terminal-window section.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background: #30353A;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0;
  overflow: auto;
}

.terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.terminal-data { display: none; }
.terminal-window .gray { color: gray; }
.terminal-window .green { color: green;}
footer{
	background-color: #000;
	color: #fff;
	bottom: 0;
	text-align: center;
	
}
footer img{
	height: 50px;
	margin: 0 auto;
	display: block;
}
footer img,footer i{
	display: inline-block;
}
footer i{
	font-size: 20px;
}