.context-delimiter {
  @extend .mdi-stop;
  color: $gray-light;
  font-size: $font-size-small;
}
.navbar-inverse .navbar-nav > li > a{
  color: #751f72;
  font-size:14px;
  display: inline-block;

}
.navbar-inverse .navbar-nav > li > a:hover{
  color: #751f72 !important;
}
.navbar-inverse .navbar-nav > li.user-menu.open > a{
  background-color: #fff;
  &:hover{
  color: #751f72 !important;
}
}
.navbar-brand svg{
  height: 98px !important;
  width: 100px;
  margin: 5px !important;
}