{% extends 'registration/_password_update_form.html' %}
{% load i18n %}

{% block pre_password_update %}
  <div class="container login">
    <div class="row">
      <div class="col-xs-11 col-sm-8 col-md-6 col-lg-5 horizontal-center">
        {{ block.super }}
{% endblock %}

{% block password_update_header %}
  {% include 'auth/_splash.html' %}
  {{ block.super }}
{% endblock %}

{% block password_update_footer %}
  {{ block.super }}
  {% comment %} {% include '_signup_form_footer.html' %} {% endcomment %}
{% endblock %}

{% block post_password_update %}
      {{ block.super }}
      </div>
    </div>
  </div>
{% endblock %}